spring:
  application:
    name: server
  datasource:
    url: jdbc:postgresql://localhost:5432/myvid
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

aws:
  s3:
    enabled: true
    bucket-name: my-vid-bucket
    region: ap-south
