spring:
  application:
    name: server
  datasource:
    url: jdbc:postgresql://localhost:5432/myvid
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: sdfkdsfdke-csdfe-erer-serersdfewr-sdfsdf-erew-sdfre

aws:
  s3:
    enabled: true
    type: local
    bucket-name: my-vid-bucket
    region: us-east-1
  access-key: test
  secret-key: test
  endpoint: http://localhost:4566
